* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("https://1.bp.blogspot.com/-kEN6jNUhdYU/TyfhMq-pYSI/AAAAAAAAD8Y/L12Po8LEo5Y/s1600/body_background.jpg");
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 100px;
    font-size: 64px;
}

.versus-container {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player,
.buttons,
.computer {
    display: flex;
}

button {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 12px;
}

img {
    height: 80%;
    width: auto;
}

.computer img {
    transform: scaleX(-1);
}

.card-container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 6px solid cyan;
    border-radius: 12px;
}

.history {
    height: 300px;
    width: 150px;
    border: 6px solid cyan;
    border-radius: 12px;
    margin: 0 10px;
    line-height: 1.5;
}

.round-results,
.score,
.ties,
.winner {
    font-size: 32px;
    margin: 15px;
}

.player-history,
.computer-history {
    height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.winner-display {
    height: 100px;
    width: auto;
}